@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 400;
    src: url('/.css/dancing-script.regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 700;
    src: url('/.css/dancing-script.regular.ttf') format('truetype');
}

/*
     FILE ARCHIVED ON 04:59:25 Oct 09, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:49:04 Aug 05, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.162
  exclusion.robots: 0.017
  exclusion.robots.policy: 0.007
  esindex: 0.01
  cdx.remote: 16.222
  LoadShardBlock: 280.286 (3)
  PetaboxLoader3.datanode: 213.789 (4)
  PetaboxLoader3.resolve: 233.932 (3)
  load_resource: 256.732
*/
