@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src: url(/.css/merriweather-script.regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    src: url(/.css/merriweather-script.regular.ttf) format('truetype');
}

/*
     FILE ARCHIVED ON 17:49:24 Nov 04, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:59:01 Aug 05, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.505
  exclusion.robots: 0.026
  exclusion.robots.policy: 0.016
  esindex: 0.009
  cdx.remote: 12.764
  LoadShardBlock: 234.957 (3)
  PetaboxLoader3.datanode: 62.964 (4)
  PetaboxLoader3.resolve: 62.715 (2)
  load_resource: 82.486
*/
